html {
	font-size: 16px;
	box-sizing: border-box;
	font-family: Ubuntu, Sans-serif;
	color: #ffffff;
	background-color: #000000;
}

nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: fixed;
	padding: 25px;
}

footer {
	text-align: center;
	padding-bottom: 5px;
}

h1 {
	font-size: 6rem;
	letter-spacing: 1.5px;
	width: 100%;
	line-height: 80px;
	margin: 35px 0;
}

a,
a:visited {
	text-decoration: none;
	color: inherit;
}

.nav-left-container {
	display: flex;
	justify-content: flex-start;
	gap: 30px;
}

.intro {
	display: flex;
	justify-content: center;
	padding: 15px;
	align-items: center;
	margin: 0 auto;
	height: 100%;
	max-width: 1000px;
}

.intro img {
	width: 300px;
	object-fit: cover;
	border-radius: 140px;
}

.about {
	padding: 0 auto;
	width: 100%;
}

.about-me img {
	width: 200px;
	border-radius: 3px;
}

.portfolio {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	padding-top: 80px;
}

.project-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.project-content img {
	width: 350px;
	height: 200px;
	object-fit: cover;
}

.project-links-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.contact-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 20px;
}

.contact i {
	font-size: 30px;
}

@media screen and (max-width:800px) {}

;