* {
	box-sizing: border-box;
}

nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.nav-left-container {
	display: flex;
	justify-content: flex-start;
	gap: 30px;
	
}

.intro {
	display: flex;
	justify-content: center;
	flex-wrap: wrap-reverse;
	gap: 50px;
	align-items: center;
}

.intro-texts{
	max-width: 500px;
}

.about-me {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 50px;
	align-items: center;
	
}

.about-me-text{
	max-width: 500px;
}
